#Esfp_girl{
    text-align: center;
    width: 80%;
}
.Esfp_prince{
    width: 300px;
    height: 400;
}

.Esfp_boy{
    width: 50px;
}
.box{
    background:white;
    border-radius:15px;
    width: 80%;
    height:80%;
    margin-left: auto;
    margin-right: auto;
}

.what{
    text-align:center;
    background-color:rgb(4, 196, 78);
    color:white;
    width:210px;;
    height:30px;
    margin-left:30px;
    margin-right:auto;
    border-radius:15px;
}

.what_explain{
    margin-left:35px;
    line-height:40px;
    font-size:20px;
}

.love{
    text-align:center;
    background-color:rgb(4, 196, 78);
    color:white;
    width:210px;
    height:30px;
    margin-left:30px;
    margin-right:auto;
    border-radius:15px;
}

.love_explain{
    margin-left:35px;
    line-height:40px;
    font-size:20px;
}

.lovebox{
    text-align:center;
    background-color:rgb(146, 207, 75);
    color:white;
    width:210px;
    height:30px;
    margin-left:30px;
    margin-right:auto;
    border-radius:15px;
}

.success{
    color:rgb(146, 207, 75);
    margin-left:35px;
    line-height:40px;
    font-size:20px;
}

.fail{
    color:rgb(146, 207, 75);
    margin-left:35px;
    line-height:40px;
    font-size:20px;
}

.startBtn{
    border-radius: 60px;
    border-color : white;
    width: 200px;
    height: 40px;
    color:white;
    background-color:rgb(4, 196, 78);
}