@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: linear-gradient(LavenderBlush, azure);
    background-repeat: no-repeat;
}
.kotra{
    font-family: 'KOTRAHOPE';
}

.cafe{
    font-family: 'Cafe24Ssurround';
}

/* .block{
    background:white;
    border-radius:15px;
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
} */

.img-princess{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    
}

.test_button{
    width:210px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
}

.start {
    border: 0;
    width:200px;
    height:50px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#d6abfa;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.start:hover {
    background-color: #d38aff;
}

.start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
