body{
    background: linear-gradient(LavenderBlush, azure);
    background-repeat: no-repeat;
}


/* .block{
    background:white;
    border-radius:15px;
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
} */

.img-princess{
    width:400px;
    margin-left:auto;
    margin-right:auto;
    
}

.test_button{
    width:210px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
}

.start {
    border: 0;
    width:200px;
    height:50px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#d6abfa;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.answerText{
    font-family: 'KOTRAHOPE';
    font-size:1.5rem;

}


.start:hover {
    background-color: #d38aff;
}

.start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
